#include <windows.h>
#include "ConfigDialog.h"

IDD_CONFIG_DIALOG DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Device Configuration"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Audio Input Device:", -1, 7, 7, 42, 8
    COMBOBOX        IDC_AUDIO_INPUT_COMBO, 7, 17, 295, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Audio Output Device:", -1, 7, 37, 42, 8
    COMBOBOX        IDC_AUDIO_OUTPUT_COMBO, 7, 47, 295, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "MIDI Input Device:", -1, 7, 67, 42, 8
    COMBOBOX        IDC_MIDI_INPUT_COMBO, 7, 77, 295, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "MIDI Output Device:", -1, 7, 97, 42, 8
    COMBOBOX        IDC_MIDI_OUTPUT_COMBO, 7, 107, 295, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Test Audio Connection", IDC_TEST_AUDIO_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 127, 295, 10
    CONTROL         "Test MIDI Connection", IDC_TEST_MIDI_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 137, 295, 10
    DEFPUSHBUTTON   "OK", IDC_OK_BUTTON, 198, 155, 50, 14
    PUSHBUTTON      "Cancel", IDC_CANCEL_BUTTON, 252, 155, 50, 14
END 